<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJEE2.Properties.Settings.arackiralamaConnectionString"
            connectionString="Data Source=DESKTOP-5KQACGN\SQLEXPRESS;Initial Catalog=arackiralama;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="PROJEE2.Properties.Settings.kitapokumaConnectionString"
            connectionString="Data Source=DESKTOP-5KQACGN\SQLEXPRESS;Initial Catalog=kitapokuma;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>